.ani-title {
    animation: left_to_right 3s ease-in-out;
    text-shadow: rgb(226, 70, 234) 4px 2px 3px;
    color: rgb(66, 22, 100);
  }

  @keyframes left_to_right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0;
    }
  }
  
  
  
  